img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

.show-large {
	display: none;
}



/* Main Column Typography */

.section {
	padding: 0;
}


@media screen and (min-width: 767px) {

	.section {
		padding-left: 40px;
		padding-right: 40px;
	}

}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	overflow: hidden;
}

.container--fluid {
	max-width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}


@media screen and (min-width: 767px) {

	.show-large {
		display: block;
	}

	.container--fluid {
		max-width: 960px;
		margin: 0 auto;
		padding: 0 20px;
	}

}

@media screen and (min-width: 1023px) {

	.container {
		max-width: 1000px;
	}

	.container--fluid {
		max-width: 1000px;
	}

	body {
		font-size: 16px;
	}
}

@media screen and (min-width: 1280px) {



	.container {
		max-width: 1200px;
	}
	
	.container--fluid {
		max-width: 1200px;
	}
}

.header {
	padding-top: 20px;
	color: #FFF;
	background-color: #405c71;
	position: relative;
}

.header__title {
	margin: 0;
	font-weight: normal;
	font-size: 165%;
}

.header__slogan {
	font-size: 90%;
}

/* Site Navigation */
.nav {
	margin-top: 20px;
}

.nav__menu {
	display: block;
	font-size: 2em;
	position: absolute;
	padding: 0 15px;
	border-radius: 4px;
	top: 15px;
	right: 10px;
}


.nav__menu:hover {
	background-color: darkgray;
	color: white;
	cursor: pointer;
}

.nav__list {
	display: none;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.menu-click {
	display: block;
}

.nav__item {
	list-style: none;
}

.nav__link {
	display: block;
	color: #FFF;
	background-color: #365267;
	padding: 15px 0;
	text-align: center;
}

.nav__link:hover {
	background-color: #2c465a;
}